.container {
  overflow: hidden;
}
.toggle-btn {
  display: none;
}
.example-card {
  height: 300px;
}

@media screen and (max-width: 991px) {
  h3 {
    font-size: 1.2rem;
  }
  .toggle-btn {
    display: block;
    margin-right: 20px;
  }
  .nav-links {
    display: none;
  }
  .example-area {
    flex-wrap: wrap;
    gap: 10px;
  }
  .example-card {
    width: calc(50% - 10px);
    height: 180px;
  }
}
@media screen and (max-width: 767px) {
  .header-section {
    flex-direction: column-reverse;
  }
  .header-left {
    width: 100%;
  }
  .secondary-button {
    width: 100%;
  }
  .big-feature-container {
    flex-direction: column;
  }
  #spl-feature {
    flex-direction: column-reverse;
  }
  .footer-container {
    flex-direction: column;
    align-items: center;
    gap: 40px;
  }
  .link-column {
    align-items: center;
    gap: 20px;
  }
}

@media screen and (max-width: 479px) {
  :root {
    --padding-inline-section: 5px;
  }
  h1 {
    font-size: 2rem;
  }
  h2 {
    font-size: 1.5rem;
  }
  p {
    font-size: 1rem;
  }
  .feature-card {
    min-width: 100%;
  }
  .example-card {
    width: 100%;
    height: 180px;
  }
}