@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&family=Roboto:wght@400;500;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* CSS variables */
:root {
  --primary-text-color: #183b56;
  --secondary-text-color: #577592;
  --accent-color: #2294ed;
  --accent-color-dark: #1d69a3;
  --padding-inline-section: 20px;
}

body {
  font-family: "Poppins", sans-serif;
  color: var(--primary-text-color);
}

h1 {
  font-size: 3rem;
}
h2 {
  font-size: 2rem;
}
h3 {
  font-size: 1.5rem;
}
p {
  font-size: 1.25rem;
  font-family: "Roboto", sans-serif;
  color: var(--secondary-text-color);
  line-height: 1.8rem;
}
a {
  text-decoration: none;
  display: inline-block;
}
ul {
  list-style: none;
}

.container {
  max-width: 1180px;
  margin-inline: auto;
  padding-inline: var(--padding-inline-section);
}
.flex {
  display: flex;
  align-items: center;
}

/* top banner */
.top-banner {
  background-image: url("./assets/asset\ 32.png");
  background-size: 300px;
  background-color: #4fb3d4;
}
.banner-text {
  color: white;
  padding: 15px 30px;
  text-align: center;
  font-size: 1rem;
  font-weight: 400;
}
/* navbar */
.logo img {
  width: 200px;
}
.main-nav {
  margin-top: 20px;
  justify-content: space-between;
}
.hover-links {
  flex-basis: 730px;
}
.hover-links ul {
  justify-content: end;
  gap: 40px;
}

.hover-link {
  color: var(--primary-text-color);
  text-transform: capitalize;
  transition: 0.2s ease-out;
}
.hover-link:hover {
  color: var(--accent-color);
}

.primary-btn {
  background-color: var(--accent-color);
  border: 6px;
  font-weight: 700;
  color: white !important;
  padding: 12px 24px;
  box-shadow: 0 0 2px var(--secondary-text-color);
  transition: 0.2s ease-out;
  border-radius: 6px;
}

.primary-btn:hover {
  background-color: var(--secondary-text-color);
}

.secondary-btn {
  border: 0.5px solid var(--secondary-text-color);
  border-radius: 6px;
  padding: 12px 24px;
  font-weight: 700;
  color: var(--primary-text-color) !important;
  transition: 0.2s ease-out;
}
.secondary-btn:hover {
  border-color: var(--accent-color);
  color: var(--accent-color) !important;
}
/* header section */
.section-gap {
  padding: 50px var(--padding-inline-section) 0;
}

.header-left {
  width: 40vw;
  flex-direction: column;
  gap: 10px;
  align-items: start;
}

.header-right img {
  width: 100%;
}

/* Company section */
.company-section h4 {
  text-align: center;
  color: var(--accent-color);
}

.logos {
  justify-content: space-between;
  flex-wrap: wrap;
}
.logos img {
  height: 46px;
}

/* feature section */
.section-header {
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.features-area {
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 40px;
}

.feature-card {
  display: flex;
  flex-direction: column;
  gap: 20px;
  max-width: 30%;
  margin-top: 20px;
  align-items: center;
}

.feature-card img {
  width: 55px;
}
.feature-card p {
  text-align: center;
}